<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
</head>
<body>
    <h1>{{ title }}</h1>
    <h2>吉：吉野おいなり君　原：原一刻　両：二人同時</h2>
    <p>
        原「原と吉野でめぞんですお願いしまーす　ありがとうございますねー頑張っていきましょう　あのさ」<br>
        吉「はい」<br>
        原「この前女友達からめんどくさい相談されてさ」<br>
        吉「めんどくさい相談」<br>
        原「そう、まぁそいつミキってやつなんだけど」<br>
        吉「ミキ」<br>
        原「そう、なんか彼氏のフリして欲しいみたいな　っていうのも、そのミキが、女友達に彼氏いるって言っちゃったらしくて、でそれで俺に、今度その子の前で彼氏のフリして欲しいって頼んできたんだよね　いやこれバレないようにするのムズいよな」<br>
        吉「本当にめんどくさいと思ってる？」<br>
        原「え？」<br>
        吉「え、女友達の彼氏のフリするだけだもんな？」<br>
        原「まぁまぁそうだけど」<br>
        吉「楽しいことじゃない？」<br>
        原「いや楽しくないよ」<br>
        吉「親密な女友達がいるっていうアピールに聞こえるんだけど　最後にできた女友達が小6の時に男子に混ざって遊戯王カードやってくれてた高田さんで終わってる俺への当てつけ？」<br>
        原「いや違うよ？そんなつもりないけど」<br>
        吉「え、楽しいことじゃない？」<br>
        原「だから楽しくないって」<br>
        吉「えその女友達に紹介されたときにその女友達が『え、2人って本当に付き合ってるの？なんかよそよそしくない？』とか言ってきて焦ったミキがお前の腕を組んで『そんなことないよ、仲良しだよ』とか言ってお前も『おい、勝手な事すんなよ』『しょうがないでしょ、合わせなさいよ』じゃんちょっと待って良すぎるだろ！」<br>
        原「何？　何今の急に」<br>
        吉「こうなったとしたら？」<br>
        原「え？」<br>
        吉「えこうなったとしたら楽しいだ け だ が ？」<br>
        原「まずそんなことにはなんないし、なったとしても俺嬉しくないから」<br>
        吉「は？」<br>
        原「俺ミキのこと女として見てないから」<br>
        吉「出た最悪の言葉！」<br>
        原「何何？」<br>
        吉「女として見てない女と思ってない、いやいやお前が女と思ってるかどうか関係なくその子は女の子だから、神様でさえ人の性別を決められないこの時代にお前が勝手に人の性別を決めるなよ　え？もしくは眼鏡の度が合ってなくて女の子に見えてないとか？だとしたら今すぐ外した方が良いよ、その色眼鏡を」<br>
        原「何言われた？　どういう意味？今の」<br>
        吉「そのキモい色眼鏡外せよ」<br>
        原「付けてねーよ別に」<br>
        吉「お前が何と言おうとミキは女の子なんだから、腕を組んだら、嬉しいじゃん」<br>
        原「いや別に」<br>
        吉「どう思われたいの？」<br>
        原「何が？」<br>
        吉「強がんなよお前」<br>
        原「だから強がってないって」<br>
        吉「じゃあじゃあその女友達が家にいたときにね、その女友達が、『もう遅い時間だし二人とも泊まっていったら、そっちのベッド使っていいよ　え、付き合ってるんだし別に同じベッドでもいいでしょ？』って言ってミキと二人で添い寝することになって、朝起きたらミキの顔が胸の上にあって上目遣いでおはようって言われたら？」<br>
        原「マジでなんも思わないな」<br>
        吉「流石に強がり過ぎですよねこいつ」<br>
        原「俺自分ちで寝たい派だしな」<br>
        吉「えいまそんな話してない」<br>
        原「あ違う違う違う違う、違う違う違う違う」<br>
        吉「え、今お前が自分ちで寝たい派かどうかって話してないんだけど」<br>
        原「違うって」<br>
        吉「え、焦って返事間違えてるよ」<br>
        原「俺らそういうのじゃないから、ミキから恋愛相談されたこともあるし」<br>
        吉「強がんないで」<br>
        原「だから強がってないから、ミキのことそういう目で見てないから」<br>
        吉「ミキはどうだろうね」<br>
        原「は？」<br>
        吉「お前さっきから、ミキの気持ちが置き去りだよ」<br>
        原「お前誰なんだよ　誰目線？」<br>
        吉「いやミキがお前に彼氏のフリをお願いしてんだよ、他の友達とは違うだろ、そのミキの気持ちを考えろ！」<br>
        原「ミキもなんも思ってねーよ」<br>
        吉「分かんないだろそれは！」<br>
        原「なんも思ってないって」<br>
        吉「分かんないだろそれは！！」<br>
        原「一回俺から告白したときにフラれてるから」<br>
        吉「逃げろ！！！」<br>
        原「何が？」<br>
        吉「今俺の目の前で何が起きたんだー！！！」<br>
        原「だから、俺から告白したときに、友達にしか見えないって言われてフラれてるから、でもそれでも友達でいたいって言われたから、じゃあそういう目で見るのやめようと思って、そっから一切、そういう目では見てないよ、だから彼氏のフリも、何の感情もない俺に、頼んできたんだろ…」<br>
        吉「お前ほんとに強がってたのかよー！！！ごめーん！！！お前偉いよー！！！恋愛相談よく耐えたなー！！！　ほんとの敵はミキだー！！！おいミキ聞いてるか？！こいつはな、あんたの彼氏になりたかったんだよ、でもそれが叶わないから、彼氏のフリをするんだよ、こいつはな、あんたなしでも生きていけるよ、でもあんたなしじゃ生きていたくないんだよ、行きますよ！世界はそれを愛と呼ぶんだぜ！！！」<br>
        吉（裏で世界はそれを愛と呼ぶんだぜを歌っている）<br>
        原「ミキー！！！好きだー！！！　俺さ、お前ともし腕を組んだら、ドキドキする！　俺はお前のこと女としてしか見れない！　色眼鏡はもう外した！　彼氏のフリ？いいよやってやるよ！でもな、フリで終わると思うなよ」<br>
        両「新しい日々をつなぐのは　新しい君と僕なのさ♪」（サビ）<br>
        原（裏で続きを歌っている）<br>
        吉「高田さーん！！！　また一緒に遊戯王カードやろうねー！！！」<br>
        原「なんだこれ！もういいよどうもありがとうございました」<br>
    </p>
    <h3>92 94 92 89 90 90 89 93 91 計820 10位
    <ul>
        <li><a href="{% url 'index' %}">トップページへ戻る</a></li>
    </ul>
</body>
</html>