<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
</head>
<body>
    <h1>{{ title }}</h1>
    <h2>楢：楢原真樹　出：出井隼之介　両：二人同時</h2>
    <p>
        出「よろしくお願いします」<br>
        楢「よろしくお願いします」<br>
        出「ヤーレンズと申します、え～」<br>
        楢「@＄＆￥★〇△▫■◆♀♂々※（聞き取り不能）」<br>
        出「うるさいなベラベラと　ベラベラうるさいですよあなた」<br>
        楢「ベラベラうるさい、それ今田耕司に同じこと言えんのか」<br>
        出「言わねぇよそんなこと」<br>
        楢（今田耕司にごめんのジェスチャーをしている）<br>
        出「なんかございますかあなた」<br>
        楢「鼻うがい鼻うがい」<br>
        出「なんだお前　なんかございますかあなた、え～え～」<br>
        楢「ちょっと聞いてくれますあの、うどん派の皆さん」<br>
        出「決めつけんなよ　これだけいらっしゃったらそば派の方もいますよ」<br>
        楢（観客にそば派かどうか指をさして尋ねている）<br>
        出「ちょっとあなた決めつけの刃じゃないですか？あなたねぇ」<br>
        楢「決めつけの刃…　ワシは侍、日本一じゃ」<br>
        出「見たことなさそうですけれども　大丈夫でしょうかねぇ」<br>
        楢「開く代官　閉じる代官」<br>
        出「なんかございますか　なんかありますか」<br>
        楢「いや、っていうのもねぇ、来年40歳で、ちょっといい歳だからね、そろそろ墓場墓場、あぼちぼちね」<br>
        出「その墓地じゃねぇだろ、ゾンビ気取りがよ」<br>
        楢「結婚したいなと思うとるわけですよ」<br>
        出「あそうですか、頑張ってね、はいはい」<br>
        楢「え冷た」<br>
        出「え、こんなもんですよねぇ別にねぇ」<br>
        楢「冷たくないですかなんか　いやそりゃああなたはね、結婚してるやっぱ、既婚者トーマスだからいいけど」<br>
        出「はぁ？　既婚者トーマス？　パーシー、ゴードン、ご祝儀ありがとう」<br>
        楢「見たことなさそうですね」<br>
        出「ありそうだろおい、俺はありそうだっただろ今のは」<br>
        楢「そんなことよりね、だから、結婚したいって言ってる相方、英語でLove Shoulderがさ」<br>
        出「そんなわけねぇだろお前、やり投げ選手の恋リアかそれ」<br>
        楢「ちょっと冷たいよほんとに、ねぇつららの先端じゃないんだから」<br>
        出「つららは全部冷てぇだろ、何を言ってんだよ　てか何、結婚？　あなたみたいに一つのことをね集中して喋らない人無理だと思いますよ」<br>
        楢「まずはありがとう」<br>
        出「何がだよ」<br>
        楢「まぁなんで僕が結婚したいかと言いますと」<br>
        出「あぁなんかあんのね」<br>
        楢「まぁさっきも言ったように、いい歳でね、まぁ独身で彼女もずーっといなくて、まぁ栄光の孤立ってやってるんですけど」<br>
        出「19世紀イギリスじゃねぇかよ」<br>
        楢「でもね～♪」<br>
        出「え長山洋子？」<br>
        楢「この前家で一人でね、こう獅子舞の練習してたんですよ」<br>
        出「何やってんだよ一人で、早く結婚しろよてめぇ」<br>
        楢「そしたら、実家から親が凸してきて」<br>
        出「凸って言わないよ、親来ること凸って言わないから」<br>
        楢「開口一番俺にね、『あんたねもういい歳なんだからさこう結婚とか考えて…』」<br>
        出「獅子舞の後ろやってくれるんかい、めちゃめちゃいい家族じゃねぇか」<br>
        楢「てね、結婚にプレッシャーかけてきたからさ、ちょっと『こっち独身楽しんでんだからほっといてよ』って言って、持ってた糞尿ぶっかけて」<br>
        出「バケモンじゃねぇか、人間がやることじゃねぇよそんなこと」<br>
        楢「でまぁ事なきを得たんですけど」<br>
        出「事なき得たのかそれ」<br>
        楢「でその後ね、一人になってね、このままでいいのかなーってこう心に問いかける、自民党して」<br>
        出「自問自答ね、違いますよ全然」<br>
        楢「『やっぱりあの両親の話は…』」<br>
        出「心の声麻生太郎じゃん、じゃあ自民党かもしれないなぁ　何を言ってんだよ」<br>
        楢「どう思います？」<br>
        出「どうも思わねぇよ　ふざけすぎてて入ってこねぇんだよお前の話は」<br>
        楢「ちょっとこっちはいたって真剣です、ねぇともこさん」<br>
        出「集中しろお前は、何なんだお前」<br>
        楢「マジマジ、マジで考えてる、月に寸って書いてマジ」<br>
        出「肘だろそれ」<br>
        楢「elbow」<br>
        出「月に寸って書いたら肘だから　ちょっとさ、話まとめると、あんた親に言われたから結婚しようと思ったってこと？」<br>
        楢「まずはありがとう」<br>
        出「何がなんだよ」<br>
        楢「そういうプレッシャーがあるんでねやっぱ」<br>
        出「じゃあね、既婚者トーマスから言わせてもらいますけど、そんな気持ちなら結婚しない方が良いよ」<br>
        楢「どういうこと？」<br>
        出「独身楽しいんでしょ？結婚したら一人の時間とか減るよ？」<br>
        楢「なるほどな、たしかに俺一人好きだもんな～」<br>
        出「いや知らないけどそれは」<br>
        楢「ゴスペラーズの」<br>
        出「はぁ？」<br>
        楢「歌います」<br>
        出「歌わなくていいです、ゴスペラーズのひとりを」<br>
        楢「愛してる～　ボンボン～ボン～♪」<br>
        出「なんで一番下のパートなんだよ！　こういう時メイン歌うだろ大体」<br>
        楢「前に前に前に♪」<br>
        出「うるさいなぁ　あのさ、なんでそんなご機嫌なのあなた」<br>
        楢「ちょっと聞いてくれます？さっきあのあそこでポカリ飲んだら茶柱立ったんですよ」<br>
        出「ゴミだよじゃあ　ゴミ、だったらそれは　なんなんだよお前」<br>
        楢「でもマジで悩んでんだよほんと」<br>
        出「マジで？」<br>
        楢「マジマジ、魚編に青と書いてマジ」<br>
        出「アジだろそれ」<br>
        楢「サバでした～」<br>
        出「なんだお前　やってくれたなぁ　もう十分楽しそうじゃねぇか、結婚しなくていいよお前なんか」<br>
        楢「いやそうなの」<br>
        出「あぁ？」<br>
        楢「まぁ俺自身はね、結婚してもしなくても、マーガレット・サッチャでもいいんだけど」<br>
        出「どっちゃでもいいだろお前、なんだそれ」<br>
        楢「両親の気持ちを考えてっつってんの」<br>
        出「両親の気持ち？」<br>
        楢「かわいそうじゃない一人息子一生独身はさぁ」<br>
        出「うん」<br>
        楢「お父さんも、お袋さんも」<br>
        出「なんだその言い方　なんでZERO OK ROCKみたいな言い方すんだよお前」<br>
        楢「何ZERO OK ROCKって」<br>
        出「え森進一でしょ？ZERO OK ROCKじゃん」<br>
        楢「分かるかそんなん」<br>
        出「え？」<br>
        楢「いや森進一さんの息子はONE OK ROCKってバンド組んでるから、父親の森進一はONEじゃなくてZEROでZERO OK ROCKって　全然伝わってないよお客さんに」
        出「お前M-1の観覧の客の感度舐めんなよ、なぁみんないけるだろ来いよ！！！　いけるよなぁ！　来い来いボーっとしてんなよお前ら」<br>
        楢「あ゛あ゛あ゛あ゛あ゛あ゛あ゛あ゛あ゛あ゛あ゛あ゛あ゛」<br>
        出「なんで二重飛びしたんだよかっこいいなぁ！」<br>
        楢「兎にも豚の角煮もねぇ」<br>
        出「豚を煮込むな急に！」<br>
        楢「両親の気持ちを考えてっつってんの」<br>
        出「知らねぇよこんな会話できねーやつを産んだ両親が悪いだろ」<br>
        楢「カッチーン　頭来てお尻は帰った」<br>
        出「どういう意味だそれ」<br>
        楢「あのね、俺の悪口はいいけど両親の悪口言うのは違うだろ！」<br>
        出「あぁ？」<br>
        楢「しかもこんな沢山のそば派の前で」<br>
        出「いつ寝返ったんだお前たち」<br>
        楢「なぁみんな」<br>
        出「さっきまでうどん派だったのに　なんだよ」<br>
        楢「取り消せよ今の言葉」<br>
        出「知らねぇよお前は結婚できねぇしな、寂しいとか言うのは両親の自業自得だよバーカ！」<br>
        楢「なんだと！　ん゛ーーアンガーマネジメント！」<br>
        出「できてねぇじゃねぇかよ　全然できてないよ」<br>
        楢「じゃあ独身で頑張りまーす」<br>
        出「勝手にしろ、どうもありがとうございました」<br>
    </p>
    <h3>93 91 95 94 94 91 94 97 94 計843 5位</h3>
    <ul>
        <li><a href="{% url 'index' %}">トップページへ戻る</a></li>
    </ul>
</body>
</html>